<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script type="text/javascript" src="../js2/vue.js"></script>
</head>
<body>
<!--
条件渲染：
      1.v-if
            写法：
                (1).v-if="表达式"
                (2).v-else-if="表达式"
                (3).v-else="表达式"
            适用于：切换频率较低的场景。
            特点：不展示的DOM元素直接被移除。
            注意：v-if可以和:v-else-if、v-else一起使用，但要求结构不能被“打断”。

      2.v-show
            写法：v-show="表达式"
            适用于：切换频率较高的场景。
            特点：不展示的DOM元素未被移除，仅仅是使用样式隐藏掉

      3.备注：使用v-if的时，元素可能无法获取到（元素会被彻底删掉），而使用v-show一定可以获取到（元素只是隐藏了）。
-->


<div id="root">
    <h2>当前值是{{ n }}</h2>
    <button @click="n++">点我n+1</button>
    <!--使用v-show做条件渲染，v-show只会把元素隐藏，适合多次变动的元素-->
    <h2 v-show="n===1">测试渲染</h2>

    <!--使用v-if做条件渲染， v-if会把整个元素直接删除，更彻底-->
    <h2 v-if="n===1">A</h2><!--多个v-if一起每次都要执行一遍-->
    <h2 v-if="n===2">B</h2>
    <h2 v-if="n===3">C</h2>

    <h2 v-if="n===1">A1</h2><!--v-if + v-else-if只执行匹配到的元素-->
    <h2 v-else-if="n===2">B1</h2>
    <h2 v-else-if="n===3">C1</h2>
    <h2 v-else>D1</h2><!--v-else后面不用跟条件，他是前面都不符合时触发的情况-->
    <!--v-if + v-else-if + v-else中间不能打断，否则后面的失效-->

    <!--template只能和v-if配合使用，template不会破坏内部元素的结构，因为当v-if条件为true时，template不会出现，好像没有一样-->
    <template v-if="n===1">
        <h2>123</h2>
        <h2>456</h2>
        <h2>789</h2>
    </template>
</div>
<script type="text/javascript">
    new Vue({
        el: "#root",
        data: {
            n: 0
        }
    });
</script>
</body>
</html>