<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表渲染</title>
    <script type="text/javascript" src="../js2/vue.js"></script>
</head>
<body>
<!--
v-for指令:
    1.用于展示列表数据
    2.语法：v-for="(item, index) in xxx" :key="yyy"
    3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）
-->

<!--
面试题：react、vue中的key有什么作用？（key的内部原理）

    1. 虚拟DOM中key的作用：
            key是虚拟DOM对象的标识，当数据发生变化时，Vue会根据【新数据】生成【新的虚拟DOM】,
            随后Vue进行【新虚拟DOM】与【旧虚拟DOM】的差异比较，比较规则如下：

    2.对比规则：
          (1).旧虚拟DOM中找到了与新虚拟DOM相同的key：
                ①.若虚拟DOM中内容没变, 直接使用之前的真实DOM！
                ②.若虚拟DOM中内容变了, 则生成新的真实DOM，随后替换掉页面中之前的真实DOM。

          (2).旧虚拟DOM中未找到与新虚拟DOM相同的key
                创建新的真实DOM，随后渲染到到页面。

    3. 用index作为key可能会引发的问题：
              1. 若对数据进行：逆序添加、逆序删除等破坏顺序操作:
                      会产生没有必要的真实DOM更新 ==> 界面效果没问题, 但效率低。

              2. 如果结构中还包含输入类的DOM：
                      会产生错误DOM更新 ==> 界面有问题。

    4. 开发中如何选择key?:
              1.最好使用每条数据的唯一标识作为key, 比如id、手机号、身份证号、学号等唯一值。
              2.如果不存在对数据的逆序添加、逆序删除等破坏顺序操作，仅用于渲染列表用于展示，
                使用index作为key是没有问题的。
-->

<div id="root">
    <!--遍历数组-->
    <ul>
        <li v-for="p in personArr" :key="p.id">{{ p.name }}-{{ p.age }}</li>
        <!--<li v-for="(p, index) in personArr" :key="p.id">{{ p.name }}-{{ p.age }}</li>-->
    </ul>

    <!--遍历对象-->
    <ul>
        <li v-for="(value, key) in car" :key="key">{{ key }}-{{ value }}</li>
    </ul>

    <!--还可以遍历字符串，遍历的是字符char-->
    <!--还可以遍历指定次数-->
    <ul>
        <li v-for="(number, index) in 5" :key="index">{{ number }}={{ index }}</li>
    </ul>

</div>
<script type="text/javascript">
    new Vue({
        el: '#root',
        data: {
            personArr: [
                {id: '001', name: "张三", age: 18},
                {id: '002', name: "李四", age: 19},
                {id: '003', name: "王五", age: 20}
            ],
            car: {
                name: '宝马',
                price: '50万',
                color: '黑色'
            }
        }
    })
</script>

<hr>
<!--列表过滤-->
<div id="root2">
    <h3>列表过滤</h3>
    <input type="text" placeholder="请输入名字" v-model="keyword">
    <ul>
        <li v-for="(p,index) in filPs" :key="p.id">{{ p.name }}--{{ p.age }}--{{ p.sex }}</li>
    </ul>

    <input type="text" placeholder="请输入名字" v-model="keyword2">
    <ul>
        <li v-for="(p,index) in filePersons" :key="p.id">{{ p.name }}--{{ p.age }}--{{ p.sex }}</li>
    </ul>
</div>

<script type="text/javascript">
    new Vue({
        el: "#root2",
        data: {
            keyword: '',
            keyword2: '',
            persons: [
                {id: "001", name: "马冬梅", age: 19, sex: '女'},
                {id: "002", name: "周冬雨", age: 20, sex: '女'},
                {id: "003", name: "周杰伦", age: 21, sex: '男'},
                {id: "004", name: "温兆伦", age: 22, sex: '男'}
            ],
            filPs: []
        },
        watch: {
            //监视属性写法
            keyword: {
                immediate: true,//立即加载
                handler(val) {
                    this.filPs = this.persons.filter((p) => {
                        return p.name.indexOf(val) !== -1
                    })
                }
            }
        },
        computed: {
            //计算属性写法
            filePersons() {
                return this.persons.filter((p) => {
                    return p.name.indexOf(this.keyword2) !== -1
                })
            }
        }
        // 当计算属性与监视属性都可以实现时，优先使用计算属性
    })
</script>

<hr>
<div id="root3">
    <h3>列表排序</h3>
    <input type="text" v-model="keyword" placeholder="输入名称">
    <button @click="sortType = 0">默认排序</button>
    <button @click="sortType = 1">年龄降序</button>
    <button @click="sortType = 2">年龄升序</button>
    <ul>
        <li v-for="(p, index) in filePersons" :key="p.id">{{ p.name }}--{{ p.age }}--{{ p.sex }}</li>
    </ul>
</div>
<script type="text/javascript">
    new Vue({
        el: "#root3",
        data: {
            keyword: '',
            sortType: 0,
            persons: [
                {id: "001", name: "马冬梅", age: 19, sex: '女'},
                {id: "002", name: "周冬雨", age: 20, sex: '女'},
                {id: "003", name: "周杰伦", age: 21, sex: '男'},
                {id: "004", name: "温兆伦", age: 22, sex: '男'}
            ]
        },
        computed: {
            filePersons() {
                return this.persons.filter((p) => {
                    return p.name.indexOf(this.keyword) !== -1
                }).sort((q, p) => {
                    if (this.sortType) {
                        return this.sortType === 1 ? p.age - q.age : q.age - p.age
                    }
                })
                // const arr = this.persons.filter((p) => {
                //     return p.name.indexOf(this.keyword) !== -1
                // })
                // if (this.sortType) {
                //     arr.sort((q,p)=>{
                //         return this.sortType === 1 ? p.age - q.age : q.age - p.age
                //     })
                // }
                // return arr
            }
        }
    })
</script>

</body>
</html>